.logo{
    width: 150px;
}
.first-section{
    background-color: #F0FFF0;

    padding-bottom: 50px;
}

.one{
    padding-bottom: 50px;
}
.btn{
    padding: 8px 28px;
    color: white;
    background-color: #21B573;
    border-radius: 33px;
}
.b-img{
    /* width: 650px;
    height: 400px; */
    width: 100%;
}
.half-width{
    width: 50%;
}
h6{
    color: #FD511A;
    font-weight: 400;
    letter-spacing: 2px;
}
h1{
    font-size: 48px;
    line-height: 70px;
}
span{
    color: #21B573;
}
.banner{
    align-items: center;
}
.nav-p a{
    font-weight: 400;
    font-size: 16px;
}
.learn{
    padding-top: 50px;
    padding-bottom: 50px;
}
.card{
    border: none;
    align-items: center;
    background-color: #F8FFFB;
    padding-top: 20px;
    padding-bottom: 20px;
}
h5{
    font-size: 24px;
    font-weight: 500;
}
.card-pic{
    width: 80px;
}
.card-pic-1{
    width: 60px;
   
}

.card-one{
    background-color: white;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);;
}
.card-body p{
    color:  #585859;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}
