.logo{
    width: 150px;
}
.first-section{
    background-color: #F0FFF0;

    padding-bottom: 50px;
}

.one{
    padding-bottom: 50px;
}
.btn{
    padding: 8px 28px;
    color: white;
    background-color: #21B573;
    border-radius: 33px;
}
.b-img{
    /* width: 650px;
    height: 400px; */
    width: 100%;
}
.half-width{
    width: 50%;
}
h5{
    color: #FD511A;
    font-weight: 400;
    letter-spacing: 2px;
}
h1{
    font-size: 48px;
    line-height: 70px;
}
span{
    color: #21B573;
}
.banner{
    align-items: center;
}
.nav-p a{
    font-weight: 400;
    font-size: 16px;
}